@page "/history"
@using SolarHeaterControl.Shared.Models
@inject HttpClient Http

<PageTitle>Historie</PageTitle>

<h1>Historie</h1>
<hr />

@if (logs == null)
{
    <p><em>Laden...</em></p>
}
else
{
    @if (relayStatus != null)
    {
        <div class="table-responsive">
            <table class="table table-borderless table-sm" style="width: auto">
                <tbody>
                    <tr>
                        <th scope="row">
                            <p>Relais Status: </p>
                        </th>
                        @if (relayStatus.Output)
                        {
                            <td style="text-align: center">
                                <i class="fa-solid fa-bolt" style="color: #ffd500;"></i>
                            </td>
                            <td>
                                <p>An</p>
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center">
                                <i class="fa-solid fa-bolt"></i>
                            </td>
                            <td>
                                <p>Aus</p>
                            </td>
                        }
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>Aktuelle Leistung: </p>
                        </th>
                        @if (relayStatus.Apower != null)
                        {
                            <td style="text-align: center">
                                @if (relayStatus.Apower == 0)
                                {
                                    <i class="fa-solid fa-bolt"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-bolt" style="color: #ffd500;"></i>
                                }
                            </td>
                            <td>
                                <p>@Math.Round(relayStatus.Apower.Value / 1000, 2) kW</p>
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center">
                                <i class="fa-solid fa-bolt"></i>
                            </td>
                            <td>
                                <p>N/A</p>
                            </td>
                        }
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>Kummulierte Leistung: </p>
                        </th>
                        @if (relayStatus.Aenergy != null)
                        {
                            <td style="text-align: center">
                                <i class="fa-solid fa-plug"></i>
                            </td>
                            <td>
                                <p>@Math.Round(relayStatus.Aenergy.Total / 1000, 2) kW</p>
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center">
                                <i class="fa-solid fa-plug"></i>
                            </td>
                            <td>
                                <p>N/A</p>
                            </td>
                        }
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>Relais Temperatur: </p>
                        </th>
                        <td style="text-align: center">
                            <i class="fa-solid fa-temperature-half"></i>
                        </td>
                        <td>
                            <p>@relayStatus.Temperature.TC °C</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    <table class="table">
        <thead>
            <tr>
                <th>Zeitpunkt</th>
                <th>PV Leistung</th>
                <th>Akku-Füllstand</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in logs)
            {
                <tr>
                    <td>@entry.Timestamp.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@entry.CurrentPower.ToString() kW</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @entry.CurrentSoc.ToString()%;" aria-valuenow="@entry.CurrentSoc.ToString()" aria-valuemin="0" aria-valuemax="100">@entry.CurrentSoc.ToString()%</div>
                        </div>
                    </td>
                    <td>@entry.Action.ToString() </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private LogEntry[]? logs;
    private RelayStatusResponse? relayStatus;

    protected override async Task OnInitializedAsync()
    {
        logs = await Http.GetFromJsonAsync<LogEntry[]>("Logs");
        logs = logs?.OrderByDescending(l => l.Timestamp).ToArray();

        relayStatus = await Http.GetFromJsonAsync<RelayStatusResponse>("RelayStatus");
    }
}
